<!DOCTYPE html>
<html lang="en" contentType="text/html;charset=UTF-8">
<head>
    <meta charset="UTF-8">
    <title>数据迁移</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <script src="/static/script/jquery-3.1.1.min.js"></script>
</head>

<h1>导入数据</h1>
<body>
<form class="form-mysql" role="form" id="mysqlForm" method="post">
    <h2>***源数据库***</h2>
    <p class="form-mysql-heading">源数据库的表</p>
    <select name="srcDb" id="srcDb">
        <option value="driver">driver</option>
        <option value="order">order</option>
        <option value="strategy">strategy</option>
    </select>

    <h2>***目的数据库***</h2>
    <p class="form-mysql-heading">数据库IP</p>
    <input type="text" class="form-control" id="destIp" placeholder="ip" required>
    <p class="form-mysql-heading">数据库Port</p>
    <input type="text" class="form-control" id="destPort" placeholder="port" required>
    <p class="form-mysql-heading">数据库username</p>
    <input type="text" class="form-control" id="destUser" placeholder="username" required>
    <p class="form-mysql-heading">数据库password</p>
    <input type="password" class="form-control" id="destPassword" placeholder="password" required>
    <p class="form-mysql-heading">数据库database</p>
    <input type="text" class="form-control" id="destDb" placeholder="database" required>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="button" id = "stream">导入</button>
    <span></span>
</form>

<!--jQuery (necessary for Bootstrap's JavaScript plugins)-->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!--Include all compiled plugins (below), or include individual files as needed-->
<script src="/static/js/bootstrap.min.js"></script>

</body>

<script type="text/javascript">
    $(document).ready(function () {
        $('#stream').click(function () {
            var srcDb = $("#srcDb option:selected").val();
            var destIp = $("#destIp").val();
            var destPort = $("#destPort").val();
            var destUser = $("#destUser").val();
            var destPassword = $("#destPassword").val();
            var destDb = $("#destDb").val();

            var jsonData = {
                "srcDb" : srcDb,
                "destIp" : destIp,
                "destPort" : destPort,
                "destUser" : destUser,
                "destPassword" : destPassword,
                "destDb" : destDb
            };
            $.ajax({
                type: 'post',
                url: '/api/stream',
                contentType: 'application/json;charset=utf-8',
                data: JSON.stringify(jsonData),
                dataType: 'json',
                success : function (response) {
                    alert("Result: " + response.msg);
                }
            });
        });
    });
</script>
</html>